
<nav>
  <div class="website_title">
    <h1>Plot Twist</h1>
  </div>
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Log in</a>
    </li>
    <li>
      <a href="#">Sign Up</a>
    </li>
  </ul>
  <!-- <div class="hamburger_menu">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div> -->
</nav>
<!-- <div class="menubar">
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Services</a>
    </li>
    <li>
      <a href="#">Blog</a>
    </li>
    <li>
      <a href="#">Contact Us</a>
    </li>
  </ul> -->
</div>