<nav class="navbar sticky-top navbar-expand-lg navbar-dark >
  <div class="container-fluid">
    <a class="navbar-brand" href="#landing_section1">plot twist</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/landing">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="landing/#landing_section3">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
