<link rel="stylesheet" href="/styles/user_menu.css" type="text/css" />

<div class="user_menu">
  <ul>
    <li>
      <i class="fa-solid fa-user" style="color: #d90429;"></i>
      <a class="user_menu_link" href="">Profile</a>
    </li>
    <li>
      <i class="fa-solid fa-pencil" style="color: #d90429;"></i>
      <a class="user_menu_link" href="">Contributions</a>
    </li>
    <li>
      <i class="fa-solid fa-book" style="color: #d90429;"></i>
      <a class="user_menu_link" href="">My Stories</a>
    </li>
    <li>
      <i class="fa-solid fa-plus" style="color: #d90429;"></i>
      <a class="user_menu_link" href="">Create a new story</a>
    </li>
  </ul>
</div>