<link rel="stylesheet" href="/styles/userNavbar.css" type="text/css" />

<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/stories">plot twist</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/user/stories">Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/landing">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>