<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>

  <!-- External Links -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

  <!-- Interal CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/landing.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />

  <!-- Scripts -->
  <script src="https://kit.fontawesome.com/ec272a3840.js" crossorigin="anonymous"></script>



</head>

<body>

  <%- include('partials/_navbar'); %>
    <section id="landing_section1">

      <div class="container left_container_section1">
        <h1>Welcome to Plot Twist!</h1>
        <h2>Where stories come to life!</h2>
        <P>Join our vibrant storytelling community at Plot Twist, where creativity knows no bounds. Immerse yourself in
          a world where every story finds its voice. Start your journey today!</P>
        <div class="button_container">
          <button class="signin_button">Sign In</button>
          <button class="signup_button">Sign Up</button>
        </div>
      </div>

      <div class="container right_container_section1">
        <div class="image1">
          <img
            src="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=754&fit=clip "
            alt="landing_image_test1">
          <p>Explore stories by PlotWeave's users or <strong>join in</strong> and contribute your own!</p>
        </div>
        <div class="image2">
          <img
            src="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=754&fit=clip "
            alt="landing_image_test1">
          <p>Contribute, like, and share stories!</p>
        </div>
      </div>

    </section>

    <!-------------------- Story Preview Section -------------------->
    <section class="landing_section2">

      <div class="story_previews_landing_section2">
        <div class="story_preview">
          <img
            src="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=754&fit=clip "
            alt="story_preview_image">
          <img
            src="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=754&fit=clip "
            alt="landing_image_test1">
          <img
            src="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=754&fit=clip "
            alt="landing_image_test1">
          <img
            src="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=754&fit=clip "
            alt="landing_image_test1">
          <img
            src="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=754&fit=clip "
            alt="landing_image_test1">
          <img
            src="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=754&fit=clip "
            alt="landing_image_test1">
          <img
            src="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=754&fit=clip "
            alt="landing_image_test1">
          <img
            src="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=754&fit=clip "
            alt="landing_image_test1">
        </div>

    </section>

    <!-------------------- About Section -------------------->
    <section id="landing_section3">

      <div class="landing_section3_info">
        <h1>This is <strong>PLOT TWIST</strong></h1>
        <h3>Start, contribute, and like stories effortlessly with our intuitive platform. From inception to completion,
          engage with narratives, share your voice, and explore captivating tales curated by our community.</h3>
        <div class="button_container">
          <button class="signin_button">Sign In</button>
          <button class="signup_button">Sign Up</button>
        </div>
        <div class="iphone_image">
          <img src="/docs/iPHONE.png" alt="iphone">
        </div>
        <div class="ipad_image">
          <img src="/docs/Ipad.png" alt="ipad">
        </div>
        <div class="macbook_image">
          <img src="/docs/Macbook.png" alt="macbook">
        </div>

        <footer class="landing_section3_info_footer">
          <div class="developers_footer">
            <div>
              <h3>Jose Eduardo Payamps</h3><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i>
            </div>
            <div>
              <h3>Rebecca Smith</h3><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i>
            </div>
            <div>
              <h3>Trevor Sullivan</h3><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i>
            </div>
          </div>
        </footer>

    </section>

</body>

</html>