<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Story</title>

  <!-- External Links -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

  <!-- Internal CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/newstory.css" type="text/css" />

    <!-- Font Awesome Access -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <div class="left-content">
        <!-- Side Menu -->
        <ul>
          <li><span class="icon"><i class="fa-solid fa-user"></i></span><button>Profile</button></li>
          <li><span class="icon"><i class="fa-solid fa-pencil"></i></span><button>Contributions</button></li>
          <li><span class="icon"><i class="fa-solid fa-book-open"></i></span><button>My Stories</button></li>
          <li><span class="icon"><i class="fa-solid fa-circle-plus"></i></span><button class="active">Create A New Story</button></li>
        </ul>
  </div>

  <div class="vertical-line"></div>

  <div class="right-content">

    <!-- Avatar and Name -->
    <div class="avatar-container">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
      <h1>Levi User One</h1>
    </div>

    <div class="black_line"></div>

    <!-- Title and Allow Contributions -->
    <div class="title-container">
      <div class="title-text">
        <h3>Title</h3>
        <input type="text" placeholder="Write the title of your story here...">
      </div>
      <div class="allow-contributions">
        <h3>Allow Contributions?</h3>
        <div class="yes-no-buttons">
          <button>YES</button>
          <button>NO</button>
        </div>
      </div>
    </div>

    <!-- Story Content -->

    <div class="textarea-container">
      <textarea placeholder="Write your story here..."></textarea>
      <button class="post-button">POST</button>
    </div>


  </div>

</body>

</html>
