<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Contributions</title>

  <!-- External Links -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

  <!-- Internal CSS -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/user_contributions.css" type="text/css" />

  <!-- Font Awesome Access -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <div class="left-content">
    <!-- Side Menu -->
    <ul>
      <li><span class="icon"><i class="fa-solid fa-user"></i></span><button>Profile</button></li>
      <li><span class="icon"><i class="fa-solid fa-pencil"></i></span><button class="active">Contributions</button></li>
      <li><span class="icon"><i class="fa-solid fa-book-open"></i></span><button>My Stories</button></li>
      <li><span class="icon"><i class="fa-solid fa-circle-plus"></i></span><button>Create A New Story</button></li>
    </ul>
  </div>

  <div class="vertical-line"></div>

  <div class="right-content">

    <!-- Avatar and Name -->
    <div class="avatar-container">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
      <h1>Levi User One</h1>
    </div>

    <div class="black_line"></div>


    <!-- Horizontal button selection -->
    <div class="horiz-selection">
      <button class="active">My Contributions</button>
      <button>Approved</button>
      <button>Rejected</button>
      <button>Pending</button>
    </div>

    <div class="black_line2"></div>

    <div class="contributions-card">

      <!-- Avatar and User Name -->
      <div class="avatar-container2">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
        <div class="user-details">
          <h2>Levi</h2>
          <p class="timestamp">Posted 2 hours ago</p>
        </div>
      </div>

      <!-- Contribution Details -->
      <div class="contribution-details">
        <p><span class="contribution-title">Contribution for:</span> <span class="story-title">The Far Away Castle</span></p>
        <div class="divider"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor fringilla felis, nec tempor tortor tristique vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur lacinia ex at felis pretium, nec posuere eros suscipit. Nullam et nisi ac urna eleifend scelerisque. Nam ut quam quam. Duis auctor lorem eget urna euismod, nec tincidunt ex ullamcorper. Nam at fermentum ligula. Morbi sollicitudin dolor vitae ipsum lobortis, ut placerat ex vehicula. Morbi sed blandit nisi. Praesent porta hendrerit odio. Duis scelerisque scelerisque urna, eget scelerisque lacus venenatis sit amet. Nam ut quam quam. Duis auctor lorem eget urna euismod, nec tincidunt ex ullamcorper. Nam at fermentum ligula. Morbi sollicitudin dolor vitae ipsum lobortis, ut placerat ex vehicula. Morbi sed blandit nisi. Praesent porta hendrerit odio. Duis scelerisque scelerisque urna, eget scelerisque lacus venenatis sit amet</p>
      </div>


    </div>

    <div class="contributions-card">

      <!-- Avatar and User Name -->
      <div class="avatar-container2">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
        <div class="user-details">
          <h2>Levi</h2>
          <p class="timestamp">Posted 3 weeks ago</p>
        </div>
      </div>

      <!-- Contribution Details -->
      <div class="contribution-details">
        <p><span class="contribution-title">Contribution for:</span> <span class="story-title">Once Upon A Time</span></p>
        <div class="divider"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor fringilla felis, nec tempor tortor tristique vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur lacinia ex at felis pretium, nec posuere eros suscipit. Nullam et nisi ac urna eleifend scelerisque. Nam ut quam quam. Duis auctor lorem eget urna euismod, nec tincidunt ex ullamcorper. Nam at fermentum ligula. Morbi sollicitudin dolor vitae ipsum lobortis, ut placerat ex vehicula. Morbi sed blandit nisi.</p>
      </div>


    </div>

  </div>

</body>

</html>
