/* PAGE ARCHITECTURE */
@import "variables";


.add_to_story_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  float: right;
  height: 100vh;
  align-items: center;
  overflow-y: auto;
}

/* RIGHT SIDE CONTENT */

/* Avatar and dividing line */
.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  padding-top: 100px;
  padding-bottom: 40px;
  border-bottom: 1px solid #b2a1a1;
  width: 100%;
  img {
    width: 150px;
    height: 150px;
    border: 10px solid $accent-color;
    border-radius: 50%;
  }
  h3 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

/* Story Content & Button */

#textarea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 20px;
  height: 100vh;
}

#textarea-container textarea {
  width: 100%;
  height: 300px;
  margin-top: 80px;
  resize: none;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid white;
}


.button-counter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.post_button {
  background-color: #201f33;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  order: 1;
}

#charCount {
  font-size: 24px;
  color: #666;
  order: 2;
}
