@import "variables";

/*--------------- Section 1 Story Previews ---------------*/
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
#landing_section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  min-height: 60vh;
  border-bottom: solid black 1px;

  h1 {
    color: $primary-color;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0px;
    padding-bottom: 30px;
  }
  h2 {
    color: $text-color;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding-bottom: 35px;
  }
  p {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding-bottom: 35px;
  }
  .right_container_section1 p {
    width: 50%;
  }
  .button_container {
    display: flex;
    justify-content: start;
    gap: 50px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/*--------------- Left Container Styles ---------------*/
.left_container_section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 5px 5%;
  height: 100vh;
  width: 50%;
}

/*--------------- Right Container Styles--------------- */
.right_container_section1 {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
}

.image1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    padding-top: 20px;
    text-align: center;
  }
  img {
    width: auto;
    height: 300px;
  }
}
/*--------------- Section 2 Story Previews ---------------*/
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin button {
  display: flex;
  height: 40px;
  width: 170px;
  background-color: $secondary-text;
  border: none;
  border-radius: 5px;
  font-family: "Inter", serif;
  color: $text-color;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
article {
  overflow-x: hidden;
  justify-content: flex-start;
  white-space: nowrap;
  margin-top: 20px;
  padding-bottom: 20px;
}


.landing_section2 {
  padding-top: 50px;
  padding-bottom: 50px;
  animation: movertl 50s linear infinite;
  ul {
    display: flex;
    flex-direction: row;
    padding-top: 150px;
    padding-bottom: 150px;
    article {
      overflow-x: hidden;
      justify-content: flex-start;
      white-space: nowrap;
      margin-top: 20px;
      padding-bottom: 20px;
      animation: movertl infinite linear;
      animation-delay: 1s; /* Add a delay to prevent immediate restart */
    }
  }
}
.mainstory {
  justify-content: space-between;
  width: 50%;
  height: auto;
  border-radius: 35px;
  background: $contrast;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 40px;
  flex-shrink: 0;
  margin-right: 20px;
}
@keyframes  movertl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.usernameusericon {
  @include flex-row;
  padding-top: 1.75em;
  padding-bottom: 10px;
}

.user {
  margin-bottom: 0;
}

.posttime {
  color: $secondary-text;
}

.counterbuttons {
  @include flex-row;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 500;
  color: $secondary-text;
  padding-top: 0.5em;
  padding-bottom: 20px;
  border-top: solid 3px;
}

.usericon {
  height: 4em;
  width: 4em;
  margin-right: 0.5em;
}

.buttons {
  @include flex-row;
}

.readbutton {
  @include button;
  margin-right: 1em;
}

.contributebutton {
  @include button;
}

.likecounter {
  @include flex-row;
  align-items: center;
}

.like-button {
  color: $primary-color;
  border: none;
  background: inherit;
  padding-right: 10px;
}

.story {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.maintitle {
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  margin-top: 0;
}

.scrolling-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}



/*--------------- Section 3 About ---------------*/
#landing_section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  gap: 50px;
  background-color: $bg-color;
  border-top: solid black 1px;
  text-align: center;
  line-height: normal;
  font-style: normal;
  .landing_section3_info {
    h1 {
      color: $text-color;
      font-size: 3rem;
      font-weight: 400;
      margin: 0px;
      padding-bottom: 30px;
      strong {
        font-weight: 800;
      }
    }
    h3 {
      color: $text-color;
      font-size: 20px;
      font-weight: 500;
      margin: 0 auto;
      width: 35%;
      padding-bottom: 40px;
    }
    p {
      font-size: 1.5rem;

      font-weight: 400;
      margin: 0px;
      padding-bottom: 35px;
    }
    .button_container {
      display: flex;
      justify-content: center;
      gap: 50px;
    }
    #devices_image_container {
      padding-top: 50px;
      padding-left: 100px;
    }
  }
}

/*--------------- Section 3 Footer ---------------*/

footer {
  background-color: $accent-color;
}
.developers_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  color: white;
  padding-top: 10px;
}

.developers_footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  a {
    color: white;
    text-decoration: none;
  }
}

.footer_info {
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
}

// Buttons

.signin_button,
.signup_button {
  background-color: $accent-color;
  color: white;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 175px;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  text-decoration: none;
}
.signin_button:hover {
  background-color: $primary-color;
}
.signup_button:hover {
  background-color: $primary-color;
}
