@import "variables";

/*--------------- Section 1 Story Previews ---------------*/
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
#landing_section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  min-height: 60vh;

  h1 {
    color: $primary-color;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0px;
    padding-bottom: 30px;
  }
  h2 {
    color: $text-color;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding-bottom: 35px;
  }
  p {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding-bottom: 35px;
  }
  .right_container_section1 p {
    width: 50%;
  }
  .button_container {
    display: flex;
    justify-content: start;
    gap: 50px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/*--------------- Left Container Styles ---------------*/
.left_container_section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 5px 5%;
  height: 100vh;
  width: 50%;
}

/*--------------- Right Container Styles--------------- */
.right_container_section1 {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
}

.image1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  p {
    padding-top: 20px;
    text-align: center;
  }
  img {
    width: auto;
    height: 400px;
    box-shadow: 0px 0px 4px rgba(3, 7, 18, 0.05),
      0px 0px 15px rgba(3, 7, 18, 0.1), 0px 0px 34px rgba(3, 7, 18, 0.15),
      0px 0px 60px rgba(3, 7, 18, 0.2), 0px 0px 94px rgba(3, 7, 18, 0.25);
  }
}
/*--------------- Section 2 Story Previews ---------------*/

#landing_section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 0px 120px 0px;
  background-color: white;
}

.landing_section2_part1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  padding: 20px 0px 20px 0px;
  img {
    width: auto;
    height: 400px;
    box-shadow: 0px 0px 4px rgba(3, 7, 18, 0.05),
      0px 0px 15px rgba(3, 7, 18, 0.1), 0px 0px 34px rgba(3, 7, 18, 0.15),
      0px 0px 60px rgba(3, 7, 18, 0.2), 0px 0px 94px rgba(3, 7, 18, 0.25);
  }

  .landing_section2_part1_image{
    display: flex;
    justify-content: center;
    width: 50%;
  }
  .landing_section2_part1_text {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  p {
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90%;
    text-align: center;
  }
}
.landing_section2_part2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  padding: 20px 0px 20px 0px;
  img {
    width: auto;
    height: 400px;
    box-shadow: 0px 0px 4px rgba(3, 7, 18, 0.05),
      0px 0px 15px rgba(3, 7, 18, 0.1), 0px 0px 34px rgba(3, 7, 18, 0.15),
      0px 0px 60px rgba(3, 7, 18, 0.2), 0px 0px 94px rgba(3, 7, 18, 0.25);
  }
  .image2_text {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  p {
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90%;
    text-align: center;
  }
}
.landing_section2_part2_image{
  display: flex;
  justify-content: center;
  width: 50%;
}
@media (max-width: 768px) {
  .landing_section2_part1,
  .landing_section2_part2 {
    flex-direction: column;
    align-items: center;
  }

  .landing_section2_part1_image,
  .landing_section2_part2_image {
    order: 2;
    margin-bottom: 20px;
  }

  .image2_text {
    order: 1;
    text-align: center;
  }
}

/*--------------- Left Container Styles ---------------*/
.left_container1_section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding: 5px 5%;
  height: 100vh;
  width: 50%;
}

/*--------------- Right Container Styles--------------- */
.right_container_section2 {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
}

/*--------------- Section 3 About ---------------*/
#landing_section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  gap: 50px;
  background-color: $bg-color;
  text-align: center;
  line-height: normal;
  font-style: normal;
  .landing_section3_info {
    h1 {
      color: $text-color;
      font-size: 3rem;
      font-weight: 400;
      margin: 0px;
      padding-bottom: 30px;
      strong {
        font-weight: 800;
      }
    }
    h3 {
      color: $text-color;
      font-size: 20px;
      font-weight: 500;
      margin: 0 auto;
      width: 35%;
      padding-bottom: 40px;
    }
    p {
      font-size: 1.5rem;

      font-weight: 400;
      margin: 0px;
      padding-bottom: 35px;
    }
    .button_container {
      display: flex;
      justify-content: center;
      gap: 50px;
    }
    #devices_image_container {
      padding-top: 50px;
      padding-left: 100px;
    }
  }
}

/*--------------- Section 3 Footer ---------------*/

footer {
  background-color: $accent-color;
}
.developers_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  color: white;
  padding-top: 10px;
}

.developers_footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  a {
    color: white;
    text-decoration: none;
  }
}

.footer_info {
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
}

// Buttons

.signin_button,
.signup_button {
  background-color: $accent-color;
  color: white;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 175px;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  align-content: center;
  text-decoration: none;
}
.signin_button:hover {
  background-color: $primary-color;
}
.signup_button:hover {
  background-color: $primary-color;
}
