@import "variables";

.likecounter{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}

.like-button {
  color: $primary-color;
  border: none;
  background: inherit;
  padding-right: 10px;
}