@import "variables";

.navbar {
  display: flex;
  padding: 5px 5%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 70px;
  top: 0;
  z-index: 1;
  width: 100vw;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  background-color: $accent-color;

  .navbar-brand {
    color: $primary-color;
    font-weight: 900;
  }

  .navbar-nav {
    list-style: none;
    display: flex;

    .nav-item {
      margin-left: 1.5rem;

      .nav-link {
        text-decoration: none;
        color: $primary-color;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        padding: 4px 8px;
        border-radius: 5px;

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }
}

.navbar.navbar-expand-lg.navbar-dark.bg-body-tertiary {
  background-color: $accent-color;
}
