// THIS IS FOR STORY/SHOW PAGE AND STORY CONTRIBUTIONS //

// Variables //
@import "variables";

// Style sets //
@mixin flex-row {
  display: flex;
  flex-direction: row;
};

@mixin button {
  display: flex;
  height: 40px;
  width: 200px;
  background-color: $accent-color; 
  border: none;
  border-radius: 5px;
  font-family: 'Inter', serif;
  color: $contrast;
  font-size: 20px;
  justify-content: center;
  align-items: center;
};

//Style Code for Stories//

.story_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', serif;
  font-size: 18px;
  width: 80%;
  margin-top: 75px;
  float: right;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 80px;
  }
}

.view_contributions {
  display: flex;
  flex-direction: column;
  width: 80%;
  float: right;
  height: 100%;
  align-items: center;
}
.titlebody {
  padding-top: 2em;
  h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
  }
}


.mainstory {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  width: 78%;
  height: auto;
  border-radius: 35px;
  border: none;
  background: $contrast;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 40px
};

.usercounter{
  @include flex-row;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 500;
  color: $secondary-text;
  padding-top: 0.5em;
  padding-bottom: 20px;
  border-top: solid 3px;
}

.likecounter{
  @include flex-row;
  align-items: center;
}

.like-button-story {
  color: $primary-color;
  border: none;
  background: inherit;
  padding-right: 10px;
}

.like-button-contribution {
  color: $primary-color;
  border: none;
  background: inherit;
  padding-right: 10px;
}

.storybuttons {
  @include flex-row;
  width: 77%;
  padding-top: 20px
}

.addstory {
  @include button;
  margin-right: 1em;
}

#viewadds{
  @include button;
}

.next {
  @include button;
}

.hiddentext {
  display: none;
}

// Remove underline on links //

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

// Contribution Specific //

.usericon {
  width: 2em;
  height: 2em;
}
.user_info_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.subheader {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  margin-top: 1em;
}

.maincontribution {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  width: 78%;
  height: auto;
  border-radius: 35px;
  border: none;
  background: $contrast;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 40px
};

.contributionstory {
  padding-top: 30px;
  p {
    margin-top: 0px;
  }
}