body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', serif;
  background: #DCD0D0
};

.mainstory {
  display: flex;
  width: 835px;
  flex-direction: column;
  height: 550px;
  border-radius: 35px;
  font-family: 'Inter', serif;
  font-size: 18px;
  border: none;
  background: #FFFFFF;
  padding-left: 85px;
  padding-right: 85px;
  margin-top: 8em;
  margin-bottom: 4em;
  justify-content: space-between;
};

.usercounter{
  display: flex;
  flex-direction: row;
  font-family: 'Inter', serif;
  font-size: 22px;
  font-weight: 500;
  justify-content: space-between;
  color: #BBBBBB;
}

.likecounter{
  display: flex;
  flex-direction: row;
  font-family: 'Inter', serif;
}

#like-button {
  display: flex;
  color: #D90429;
  border: none;
  background: #FFFFFF;
  padding-right: 10px;
}

.maintitle {
  text-align: center;
  font-family: 'Inter', serif;
  font-size: 48px;
  font-weight: 900;
}

.navbuttons {
  display: flex;
  width: 835px;
  flex-direction: row;
  justify-content: space-between;
}

.storybuttons {
  display: flex;
  flex-direction: row;
}

#addstory {
  display: flex;
  height: 40px;
  width: 170px;
  background-color: #201F33; 
  border: none;
  border-radius: 5px;
  font-family: 'Inter', serif;
  color:#FFFFFF;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

#viewadds{
  display: flex;
  height: 40px;
  width: 170px;
  background-color: #201F33; 
  border: none;
  border-radius: 5px;
  font-family: 'Inter', serif;
  color:#FFFFFF;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

#next {
  display: flex;
  height: 40px;
  width: 170px;
  background-color: #201F33; 
  border: none;
  border-radius: 5px;
  font-family: 'Inter', serif;
  color:#FFFFFF;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.hiddentext {
  display: none;
}

