// THIS IS FOR STORY/SHOW PAGE AND STORY CONTRIBUTIONS //

// Variables //
@import "variables";

// Style sets //
@mixin flex-row {
  display: flex;
  flex-direction: row;
};

@mixin button {
  display: flex;
  height: 40px;
  width: 200px;
  background-color: $accent-color; 
  border: none;
  border-radius: 5px;
  font-family: 'Inter', serif;
  color: $contrast;
  font-size: 20px;
  justify-content: center;
  align-items: center;
};

//Style Code for Stories//

.story_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  float: right;
  height: 100%;
  align-items: center;
}

.contributions {
  display: flex;
  flex-direction: column;
  width: 80%;
  float: right;
  height: 100%;
  align-items: center;
}
.titlebody {
  padding-top: 3em;
  h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 1em;
  }
}


.mainstory {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  width: 850px;
  height: 550px;
  border-radius: 35px;
  border: none;
  background: $contrast;
  padding-left: 85px;
  padding-right: 85px;
  margin-top: 8em;
  margin-bottom: 1em;
};

.usercounter{
  @include flex-row;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 500;
  color: $secondary-text;
  padding-top: 0.5em;
  padding-bottom: 1.75em;
  border-top: solid 3px;
}

.likecounter{
  @include flex-row;
}

.like-button {
  color: $primary-color;
  border: none;
  background: inherit;
  padding-right: 10px;
}

.navbuttons {
  @include flex-row;
  width: 850px;
  justify-content: space-between;
}

.storybuttons {
  @include flex-row;
}

.addstory {
  @include button;
  margin-right: 1em;
}

#viewadds{
  @include button;
}

.next {
  @include button;
}

.hiddentext {
  display: none;
}

// Remove underline on links //

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

// Contribution Specific //

.usericon {
  width: 2em;
  height: 2em;
}

.subheader {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  margin-top: 2em;
}

.maincontribution {
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 850px;
  height: 325px;
  border-radius: 35px;
  border: none;
  background: $contrast;
  padding-top: 1em;
  padding-left: 85px;
  padding-right: 85px;
  margin-top: 1em;
  margin-bottom: 1em;
};

.contributionstory {
  padding-bottom: 1em;
}