/* PAGE ARCHITECTURE */
@import "variables";

.user_stories_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  float: right;
  height: 100vh;
  align-items: center;
}

/* RIGHT SIDE CONTENT */

.user_story_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #b2a1a1;

  ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 0px 20px 0px;
  }
  li {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

/* Avatar and dividing line */
.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  padding-top: 100px;
  padding-bottom: 40px;
  border-bottom: 1px solid #b2a1a1;
  width: 100%;
  img {
    width: 150px;
    height: 150px;
    border: 10px solid $accent-color;
    border-radius: 50%;
  }
  h3 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

/* Contributions Card */

.story_card_container{
  padding-bottom: 50px;
}
.story-card {
  width: 850px;
  height: auto;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 40px;
}

/* Story Avatar, User Name & timestamp */
.avatar-container2 {
  display: flex;
  align-items: center;
}

.avatar-container2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details h2 {
  margin: 0;
}

.timestamp {
  margin: 0;
  font-size: 14px;
  color: #666;
}

/* Story Details */

.story-title {
  font-size: 28px;
  font-weight: bold;
}

.story-details {
  margin-top: 20px;
}


/* upvotes */

.upvotes {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: opx;
  margin-bottom: 0px;
  i {
    align-items: center;
    align-content: center;
    width: 30px;
    height: 30px;
  }
  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
