@import "variables";


/* RIGHT SIDE CONTENT */
.user_contributions_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  float: right;
  height: 100vh;
  align-items: center;
}

.user_contribution_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #b2a1a1;

  ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 0px 20px 0px;
  }
  li {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

/* Avatar and dividing line */
.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  padding-top: 100px;
  padding-bottom: 40px;
  border-bottom: 1px solid #b2a1a1;
  width: 100%;
  img {
    width: 150px;
    height: 150px;
    border: 10px solid $accent-color;
    border-radius: 50%;
  }
  h3 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.contribution_cards_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 30px;
}

/* Contributions Card */
.contributions-card {
  width: 80%;
  background-color: white;
  padding: 20px;
  padding-top: 20px;
  border-radius: 30px;
}

/* Contribution Avatar, User Name & timestamp */
.avatar-container2 {
  display: flex;
  align-items: center;
}

.avatar-container2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details h2 {
  margin: 0;
}

.timestamp {
  margin: 0;
  font-size: 14px;
  color: #666;
}

/* Contribution Details */
.contribution-title {
  font-size: 28px;
}

.story-title {
  font-size: 28px;
  font-weight: bold;
}

.contribution-details {
  margin-top: 20px;
}
a.approve {
  text-decoration: none;
  display: flex;
  height: 40px;
  width: 170px;
  background-color: #BBBBBB;
  border: none;
  border-radius: 5px;
  font-family: "Inter", serif;
  color: #2B2D42;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  cursor: pointer;
}

.likecounter {
  display: flex;
  justify-content: flex-start;
}
.contribution_footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}